<div class="container">
    <div id="onlineFriends">
        
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/home.js"></script>
