<div class="container text-center `">
    <h3>Create Account</h3>
    <form action="/signup" method="post" class="d-flex flex-column">
      <input
        class="mb-3"
        type="text"
        class="form-control"
        name="username"
        placeholder="UserName"
      />
      <% let usernameError = validationErrors.find(error => error.path ==='username')
      %>
      <% if (usernameError) { %>
      <p class="alert alert-danger"><%= usernameError.msg %></p>
      <% } %>
      <input
        class="mb-3"
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
      />
      <% let emailError = validationErrors.find(error => error.path ==='email')
      %>
      <% if (emailError) { %>
      <p class="alert alert-danger"><%= emailError.msg %></p>
      <% } %>
      <input
        class="mb-3"
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
      />
      <% let passwordError = validationErrors.find(error => error.path ==='password')
      %>
      <% if (passwordError) { %>
      <p class="alert alert-danger"><%= passwordError.msg %></p>
      <% } %>
      <input
        class="mb-3"
        type="password"
        class="form-control"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <% let confirmPasswordError = validationErrors.find(error => error.path ==='confirmPassword')
      %>
      <% if (confirmPasswordError) { %>
      <p class="alert alert-danger"><%= confirmPasswordError.msg %></p>
      <% } %>
      <input type="submit" class="btn btn-primary" value="Create Account" />
    </form>
    <br />
  
    <div>Already have account? <a href="/login">Login</a></div>
  </div>
  